.dialog {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  .dialog_wrapper {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    animation: dialog 0.5s; //
  }
  .dialog_header {
    padding: 20px 20px 0;
  }
  .dialog_content {
    padding: 30px 20px;
    color: #475669;
    font-size: 18px;
    text-align: center;
    p {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .dialog_footer {
    padding: 10px 20px 15px;
    text-align: right;
    button {
      font-size: 14px;
    }
    .cancel_btn {
      width: 50px;
      background: #fff;
      border: 1px solid #c0ccda;
      color: #1f2d3d;
    }
    .sure_btn {
      width: 50px;
      margin-left: 5px;
      color: #fff;
      //background: black;
      transition: background 0.3s ease-in;
    }
  }
}
@keyframes dialog {
  from {
    top: 15%;
  }
}