.event_all {
  position: fixed;
  width: 100%;
  // height: 100%;
  top: 70px;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.5s;
  overflow-y: scroll;
  background: #fff;
  &.event_all_show {
    transform: translateX(0);
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  .table_box {
    width: 100%;
    max-width: 1000px;
    padding: 20px 5px 70px;
    margin: auto;
    box-sizing: border-box;
    .edit_input {
      position: fixed;
      top: 0;
      right: 5px;
      left: 5px;
      max-width: 1000px;
      margin: auto;
      height: 60px;
      padding: 10px 100px 10px 10px;
      box-sizing: border-box;
      z-index: 10;
      transform: translateY(-260px);
      transition: transform 0.3s;
      background: #f3f3f3;
      border: 1px solid #eee;
      border-radius: 4px;
      &.edit_input_show {
        transform: translateY(0);
      }
      input {
        float: left;
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
      }
      button {
        //background: black;
        position: absolute;
        right: 10px;
        width: 80px;
        height: 40px;
        color: #fff;
        border: 0;
      }
    }
    .screen_box {
      position: relative;
      padding: 0 0 10px 95px;
      height: 35px;
      .div_select {
        position: absolute;
        left: 0;
        top: 0;
        width: 85px;
        height: 35px;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #eee;
        font-size: 12px;
        color: #999;
        cursor: pointer;
        &::after {
          position: absolute;
          right: 6px;
          top: 12px;
          width: 6px;
          height: 6px;
          content: '';
          border-right: 1px solid #999;
          border-bottom: 1px solid #999;
          transform: rotate(45deg);
        }
      }
      .div_value {
        line-height: 35px;
      }
      .div_select_body {
        position: absolute;
        left: 0;
        top: 38px;
        width: 85px;
        height: 0;
        padding-left: 10px;
        line-height: 30px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 10;
        box-shadow: none;
        border: none;
        border-radius: 3px;
        background: #fff;
        transition: all 0.3s;
      }
      .active {
        height: 122px;
        border: 1px solid #eee;
        box-shadow: 0 0 1px #ddd;
      }
      .div_search {
        width: 100%;
        height: 35px;
        line-height: 25px;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 1px solid #eee;
        font-size: 12px;
        font-family: Arial, 'Microsoft YaHei';
        color: #999;
      }
    }
    .event_table {
      width: 100%;
      padding: 0;
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
      border-spacing: 0px; //相邻边框间隔
      td,
      th {
        position: relative;
        height: 40px;
        min-width: 0;
        padding: 5px 10px;
        box-sizing: border-box;
        // text-overflow: ellipsis;
        vertical-align: middle;
        border: {
          right: 1px solid #eee;
          bottom: 1px solid #eee;
        }
        //text-align:center;
      }
      button {
        padding: 3px 7px;
        font-size: 12px;
        color: #fff;
        border: 0;
        margin: 0 3px 3px 0;
        //background: black;
        &.del_btn {
          background: #f57067 !important;
        }
      }
    }
  }
}