.event_add {
  position: relative;
  padding: 30px 90px 30px 0px;
  //font-size:16px;
  .add_input {
    width: 100%;
    height: 40px;
    padding: 7px 10px;
    line-height: 26px;
    border: 1px solid #c0ccda;
    border-radius: 4px;
    transition: border-color 0.2s linear;
    box-sizing: border-box;
    font-size: inherit;
    &:focus {
      //输入框被点击
      outline: none; //输入框边框轮廓
    }
  }
  .add_btn {
    position: absolute;
    right: 0;
    top: 30px;
    width: 80px;
    height: 40px;
    line-height: 26px;
    color: #fff;
    //background-color: black;
  }
}