.event_content {
  .event_tab {
    //background-color: black;
    position: relative;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    span {
      position: absolute;
      right: 20px;
      top: 15px;
      width: 10px;
      height: 10px;
      content: '';
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(135deg);
      transition: all 0.3s;
      &.close-span {
        transform: rotate(45deg);
      }
    }
  }
  .event_box {
    // list-style:none;
    overflow: hidden; //若该元素内容超出了给定的宽度和高度，超出的部分被隐藏，不占位
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    transition: height 0.3s;
    .event_list {
      position: relative;
      min-height: 44px;
      line-height: 25px;
      padding: 10px 100px 10px 50px;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;
      color: #373e40;
      input[type='checkbox'] {
        position: absolute;
        left: 15px;
        top: 12px;
        width: 20px;
        height: 20px;
      }
      .cancel_btn {
        position: absolute;
        right: 10px;
        top: 7px;
        width: 50px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        background: #fff;
        border: 1px solid #c0ccda;
        color: #666;
        font-size: 12px;
      }
      .event_time {
        position: absolute;
        right: 10px;
        top: 0;
        line-height: 44px;
        font-size: 12px;
        color: #aaa;
      }
      .event_cancel {
        text-decoration: line-through;
        color: #999;
      }
    }
  }
}